input[type=text],select{
    width:95%;
    font-weight: bold;
    padding:10px 15px;
    margin-top: 10px;
    border-radius:5px;
    border:1px #111 solid;
}
input[type=password]{
    width:95%;
    font-weight: bold;
    padding:10px 15px;
    margin-top: 10px;
    border-radius:5px;
    border:1px #111 solid;
}
input[type=date]{
    width:95%;
    font-weight: bold;
    padding:10px 15px;
    margin-top: 10px;
    border-radius:5px;
    border:1px #111 solid;
}
input[type=number]{
    width:95%;
    font-weight: bold;
    padding:10px 15px;
    margin-top: 10px;
    border-radius:5px;
    border:1px #111 solid;
}
input[type=submit]{
    margin-top:20px;
    padding:5px;
    background-color:#22cc11;
    color: #000;
    font-weight: bold;
    padding: 11px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border:1px #fff solid;
}
input[type=submit]:hover{
    background-color:#11cc10;
    border:1px #000 solid;
    padding: 11px 24px;
}
h2{
    font-family: "Segoe UI", Frutiger;
    font-size:28px;
    color:#228;
    margin-bottom:15px;
}
label{
    color:#116;
    font-size: 15px;
}