@import "innerform.css";
.inner table{
    background-color: #fff;
    border-collapse: collapse;
    margin-bottom: 20px;
}
tr{
    margin:0px;
    padding:0px;
}
table 
th{
    margin:0px;
    padding:5px;
    background-color: #22FF22;
}
tr:first-child{
    padding-left: 10px;
}
tr:last-child{
    padding-right: 10px;
}
td{
    text-align:left;
    padding:8px 5px;
}
h2{
    font-family: "Segoe UI", Frutiger;
    font-size:28px;
    color:#228;
    margin-bottom:15px;
}
.inner{
    color:#114;
}